*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #ddd;
}
.cu_navbar{
	background: #55efc4 !important;
}

.text_main {
	text-shadow: 2px 7px 9px #7b7474;
	font-style: oblique;
	font-weight: 600;
}

.main_video{
	width: 100%;
}

iframe{
	width: 100%;
}

.con{
	font-weight: bold;
	font-size: 18px;
}